Django>=5.0,<6.0
djangorestframework>=3.14,<4.0
djangorestframework-simplejwt>=5.3,<6.0
django-cors-headers>=4.3,<5.0
pyotp>=2.9,<3.0
qrcode>=7.4,<8.0
psycopg2-binary>=2.9.9
drf-spectacular>=0.27.1
requests>=2.31.0